<% layout('layout') -%>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1 id="main-header" class="" > Read book for your machine..</h1>
    <p>An unique place for finding programming books</p><hr/>
    <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Signup &raquo;</a></p> -->
  </div>
</div>

<div class="container text-center">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4 text-center">
      <h3>Modern JavaScript</h3>
      <p>350tk</p>
    </div>
    <div class="col-md-4">
      <h3>Writing code with js</h3>
      <p>400tk</p>
   </div>
    <div class="col-md-4">
      <h3>Beautiful JavaScript</h3>
      <p>400tk</p>
    </div>
  </div>
  <hr/>
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h3>C++ with Robets</h3>
      <p>300 tk</p>
    </div>
    <div class="col-md-4">
      <h3>Beautiful Java</h3>
      <p>300tk</p>

    </div>
    <div class="col-md-4">
      <h3>Weird Java</h3>
      <p>300tk</p>
    </div>
  </div>
  <hr/>
  <!-- Example row of columns -->
  <div class="row">
      <div class="col-md-4">
        <h3>C with Robets</h3>
        <p>300 tk</p>
      </div>
      <div class="col-md-4">
        <h3>Beautiful Java</h3>
        <p>300tk</p>
  
      </div>
      <div class="col-md-4">
        <h3>Weird Java World</h3>
        <p>300tk</p>
      </div>
    </div>
</div>
  
